<mat-card [formGroup]="mainForm">
  <mat-card-title> Inscription</mat-card-title>
  <mat-card class="form-card" formGroupName="personalInfo">
    <mat-card-subtitle> Informations personnelles </mat-card-subtitle>
    <!-- .form-row>(mat-form-field>mat-label+input)*2 -->
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input type="text" matInput formControlName="firstName" />
        <mat-error> Ce champ est requis </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput formControlName="lastName" />
        <mat-error> Ce champ est requis </mat-error>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle
      >Comment préférez-vous être contacté(e)?
    </mat-card-subtitle>
    <!-- mat-radio-group>mat-radio-button*2 -->
    <mat-radio-group [formControl]="contactPreferenceControl">
      <mat-radio-button value="email">Mail</mat-radio-button>
      <mat-radio-button value="phone">Téléphone</mat-radio-button>
    </mat-radio-group>
  </mat-card>
  <mat-card
    class="form-card"
    [formGroup]="emailForm"
    *ngIf="showEmailControl$ | async"
  >
    <mat-card-subtitle> Email</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Adresse mail</mat-label>
        <input type="text" matInput formControlName="email" />
        <!-- On passe à la méthode le control sur lequel on est qui est ic emailControl -->
        <mat-error> {{ getFormControlErrorText(emailControl) }} </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmez votre adresse mail?</mat-label>
        <input type="text" matInput formControlName="confirm" />
        <mat-error>
          {{ getFormControlErrorText(confirmEmailControl) }}
        </mat-error>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card class="form-card" *ngIf="showPhoneControl$ | async">
    <mat-card-subtitle> Téléphone</mat-card-subtitle>
    <mat-form-field appareance="fill">
      <mat-label> Numéro de téléphone </mat-label>
      <input type="text" matInput [formControl]="phoneControl" />
      <!-- La création de formControl indépendany nous permet d'y accéder simplement comme ci-dessous -->
      <mat-error> {{ getFormControlErrorText(phoneControl) }} </mat-error>
    </mat-form-field>
  </mat-card>
  <mat-card class="form-card" [formGroup]="loginInfoForm">
    <mat-card-subtitle> Information de connexion</mat-card-subtitle>
    <mat-form-field appearance="fill">
      <mat-label>Nom d'utilisateur</mat-label>
      <input type="text" matInput formControlName="username" />
      <mat-error> Ce champ est requis</mat-error>
    </mat-form-field>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error> Ce champ est requis</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmez votre mot de passe</mat-label>
        <input type="password" matInput formControlName="confirmPassword" />
        <mat-error> Ce champ est requis</mat-error>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card-actions *ngIf="mainForm.valid">
    <button
      mat-flat-button
      color="primary"
      (click)="onSubmitForm()"
      [disabled]="loading"
    >
      ENREGISTRER
    </button>
  </mat-card-actions>
  <!-- Ce spinner doit s'afficher que si loading est à true -->
  <!-- indeterminate ne suggère pas un chargement d'un certain temps -->
  <mat-spinner
    *ngIf="loading"
    color="primary"
    mode="indeterminate"
  ></mat-spinner>
</mat-card>
