<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="OnToggleMenuClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/complex-form" (click)="OnToggleMenuClose()">
    <mat-icon>account_balance</mat-icon>
    <span class="nav-caption">Complex Form</span>
  </a>
  <a mat-list-item routerLink="/axyus-form" (click)="OnToggleMenuClose()">
    <mat-icon>account_balance</mat-icon>
    <span class="nav-caption">Axyus Form</span>
  </a>
  <!-- <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon> unfold_more </mat-icon>
    <a matline> Example </a>
  </mat-list-item> -->
  <a mat-list-item routerLink="/reactive-state" (click)="OnToggleMenuClose()">
    <mat-icon>assignment_ind</mat-icon>
    <span class="nav-caption">Reactive State</span>
  </a>
  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="OnToggleMenuClose()">View Profile</button>
    <button mat-menu-item (click)="OnToggleMenuClose()">Add contact</button>
  </mat-menu> -->
</mat-nav-list>

<!-- <mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="OnToggleMenuClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/home" (click)="OnToggleMenuClose()">
    <mat-icon>assignment_ind</mat-icon>
    <span class="nav-caption">Home Two</span>
  </a>
  <a mat-list-item routerLink="/home" (click)="OnToggleMenuClose()">
    <mat-icon>account_balance</mat-icon>
    <span class="nav-caption">Home Three</span>
  </a>
  <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon> unfold_more </mat-icon>
    <a matline> Example </a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="OnToggleMenuClose()">View Profile</button>
    <button mat-menu-item (click)="OnToggleMenuClose()">Add contact</button>
  </mat-menu>
</mat-nav-list> -->
